<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='table.css') }}"
    />
    <title>table</title>
  </head>
  <body>
    <table class="table">
      <thead>
        <tr>
          <th class="head">First_name</th>
          <th class="head">Last_name</th>
          <th class="head">Full_name</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users_info %}
        <tr>
          <td class="row">{{user['first_name']}}</td>
          <td class="row">{{user['last_name']}}</td>
          <td class="row">{{user['first_name'] + ' ' + user['last_name']}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
